<div class="span-17 last content" id="questions">
    <h3>{{space.title}}</h3>
    {% if space.summary %}
      {{space.summary | markdown}}
    {% endif %}
    {% if current_user and space.owner.uuid == current_user.uuid %}
      <p><a href="{{space.permalink}}/ideas/new" class="button orange">Add new help item</a></p>
    {% endif %}
    {% if space.ideas != empty %}
      <ol>
        {% for idea in space.ideas %}
          <li>
            <a href="{{idea.permalink}}">{{idea.title}}</a>
            <span>{{idea.likes}} &hearts;</span>
          </li>
        {% endfor %}
      </ol>
    {% else %}
      <p>
        Sorry, we haven't got any help topics here yet
      </p>
    {% endif %}
</div>
