<div class="span-17 last content" id="question">
  <span id="backLink">
    <a href="{{space.permalink}}" class="button gray small">Back to list</a>
  </span>
  <h3>{{idea.title}}
    {% if current_user and space.owner.uuid == current_user.uuid %}
      [<a href="{{idea.permalink}}/edit">edit</a>]
    {% endif %}
  </h3>
  <span id="isUseful">
    <span class="likes-count">{{idea.likes}} &hearts;</span>
    {% if current_user %}
      <a href="{{idea.like_link}}" class="button orange" data-method="post">
        Is this helpful?
      </a>
    {% else %}
      <a href="#sign-in-popup" id="sign-in" class="button orange">
        Is this helpful?
      </a>
    {% endif %}
  </span>
  <div class="content">
    {{idea.content | markdown}}
  </div>
  {% if idea.interested_users != empty %}
    <div id="peopleInterested">
    <hr />
    <h3>People that found this helpful</h3>
      <ul>
        {% for user in idea.interested_users %}
          <li class="interested-user">
            <a href="{{user.profile_url}}" title="{{user.nickname}}">
              <img src="{{user.image_url}}" />
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
<div style="display: none;">
  <div id="sign-in-popup">
    <p>Sign in with your twitter or facebook account to mark this as helpful.</p>
    <ul>
      <li class="twitter">
        <a href="/auth/twitter">
          <span>Twitter</span>
        </a>
      </li>
      <li class="facebook">
        <a href="/auth/facebook">
          <span>Facebook</span>
        </a>
      </li>
    </ul>
  </div>
</div>