{% if env == 'production' or env == 'staging' %}
    {% assign asset_url = "https://s3.amazonaws.com/rusic-help" %}
{% else %}
    {% assign asset_url = "http://localhost:8080" %}
{% endif %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>
	  {% if idea %}
	    {{idea.title}} &middot; {{rusic.title}}
	  {% else %}
	    {{rusic.title}}
	  {% endif %}
	</title>
	<!-- Framework CSS --> 
    <link rel="stylesheet" href="{{asset_url}}/css/blueprint/screen.css" type="text/css" media="screen, projection"> 
    <link rel="stylesheet" href="{{asset_url}}/css/blueprint/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]><link rel="stylesheet" href="{{asset_url}}/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 
 
    <!-- Import fancy-type plugin for the sample page. --> 
    <link rel="stylesheet" href="{{asset_url}}/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{asset_url}}/css/style.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{asset_url}}/js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen, projection">
    
    {{content_for_header}}
    
    <script type="text/javascript" charset="utf-8" src="{{asset_url}}/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{asset_url}}/js/showdown.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{asset_url}}/js/script.js"></script>
</head>

<body>
    <div class="container">
        <div id="header" class="span-24">
            <h1>Rusic Help</h1>
            <hr />
            {% if notice %}
              <div class="success">
                {{notice}}
              </div>
            {% endif %}
            {% if alert %}
              <div class="error">
                {{alert}}
              </div>
            {% endif %}
        </div>
        <div class="span-6 colborder" id="sidebar">
            <h3>Help Topics</h3>
            <ul class="topicNav">
              <li{% if rusic.slug == 'general-questions' %} class="on"{% endif %}>
                <a href="/general-questions">General questions</a>
              </li>
              <li{% if rusic.slug == 'customising-notifications' %} class="on"{% endif %}>
                <a href="/customising-notifications">Customising notifications</a>
              </li>
              <li{% if rusic.slug == 'theming' %} class="on"{% endif %}>
                <a href="/theming">Theming</a>
              </li>
              <li id="giveIdeas">
                <a href="http://hq.rusic.com/suggest-improvements" class="button red rounded">Suggest Improvements</a>
              </li>
            </ul>
            <h3>What is Rusic?</h3>
            <p>It's a place where you can generate ideas from your friends, colleagues and family.</p>
            <p>There's a free version that is super simple to set up and paid versions that let you create custom skins to make it do things it was never designed to (like this help site!).</p>
            <hr />
            {% if current_user %}
              <p>
                Hi {{current_user.nickname}}, are are signed in.
                <br />
                <a href="/logout">Sign out</a>
              </p>
            {% else %}
              Sign in with <a href="/users/auth/twitter">twitter</a> or <a href="/users/auth/facebook">facebook</a> to like topics.
            {% endif %}
        </div>
        {{yield}}
        <div id="footer" class="span-24">
            <hr />
            <p><a href="http://rusic.com">Rusic</a> is built and maintained with ❤ by <a href="http://simpleweb.co.uk">Simpleweb</a>, the realtime digital agency. &copy;2011</p>
        </div>
    </div>
</body>
</html>
